{% extends "base.html" %}

{% block title %} {{post.titre}} {% endblock %}

{% block content %}

<div class="contenu_post">
    <h2>{{post.titre}}</h2>
    <p> Publié le : {{post.date_creation}} par {{post.auteur}}, dans la {{post.communaute}}. </p>
    <p> {{post.description}} </p>
</div>

<div class="priorités">
    {% if post.priorite.nom == 'Ecarlate' %}
    <p style="color: red"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Rouge' %}
    <p style="color: darkred"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Orange' %}
    <p style="color: darkorange"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Jaune' %}
    <p style="color: coral"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Blanche' %}
    <p style="color: mediumspringgreen"> Priorité : {{post.priorite}} </p>
    {% endif %}
</div>

<div class="Fonction événement">
    {% if post.evenementiel %}
    <p>Ce post est un événement qui se déroulera le {{post.date_evenement}}</p>
    {% else %}
    <p>Ce post n'est pas un événenement</p>
    {% endif %}
    <br>
</div>

<div class="commentaires">
    <h2 style="text-decoration: underline;">Commentaires :</h2>
    {% for commentaire in commentaires %}
    <p>Commentaire de {{commentaire.auteur}} posté le {{commentaire.date_publication}} :</p>
    <p style="color: darkgrey">{{commentaire.texte}}</p>
    {% empty %}
    <p>Aucun commentaire n'a été déposé sous ce post : soyez le premier à le commenter !</p>
    {% endfor %}
</div>

<div class="row float-right pb-3">
    <form class="form" method="POST" action="{% url 'un_post' post_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
    </form>
</div>

{% endblock %}



