{% extends "base.html" %}

{% block title %} Tous les posts {% endblock %}

{% block content %}

<h3>Affichage de tous les posts :</h3>

<p>
  {% for post in posts %}
  <div class="contenu_post">
    <h2><a href="{url 'post' post.id}">{{post.titre}}</h2>
    <p> Publié le : {{post.date_creation}} par {{post.auteur}}, dans la {{post.communaute}}. </p>
    <p> {{post.description}} </p>
</div>

<div class="priorités">
    {% if post.priorite.nom == 'Ecarlate' %}
    <p style="color: red"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Rouge' %}
    <p style="color: darkred"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Orange' %}
    <p style="color: darkorange"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Jaune' %}
    <p style="color: coral"> Priorité : {{post.priorite}} </p>
    {% elif post.priorite.nom == 'Blanche' %}
    <p style="color: mediumspringgreen"> Priorité : {{post.priorite}} </p>
    {% endif %}
</div>

<div class="Fonction événement">
    {% if post.evenementiel %}
    <p>Ce post est un événement qui se déroulera le {{post.date_evenement}}</p>
    {% else %}
    <p>Ce post n'est pas un événenement</p>
    {% endif %}
    <br>
    <br>
    <br>
</div>
</p>


{% endblock %}